
<h1>Email sent</h1>
<p>Please check your email for our confirmation message</p>
<p>Clicking the link in the message confirms to our servers that you can access
    the email account you provided.</p>
<p>If you don't see the message immediatly please check your Spam/Junk mail folder.</p>