<div class="BannerAd">
    <span class="labeled-hr">
        Sponsered Link:
        <hr />
    </span>
    <div class="visible-xs">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- joblogger-banner -->
        <ins class="adsbygoogle visible-xs"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-3013534986949508"
             data-ad-slot="6975135075"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="hidden-xs">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- joblogger-banner -->
        <ins class="adsbygoogle hidden-xs"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-3013534986949508"
             data-ad-slot="2625660677"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>