@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h3>What:</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <p>
            This web application is meant to provide a convenient way to store Job Search
            Logs as required by <a href="https://esd.wa.gov/unemployment/job-search-requirements">
            Washington State unemployment guidelines</a> to recieve unemployment benefits.
            Logs are created using a convenient web form and stored in a database. You no
            longer need to store your logs on just one device, or worse, maintain paper logs.
        </p>
        <p>
            While reasonable efforts are made to maintain user data and make it
            availible at all times, this is a free service with no waranty expressed
            or implied. Use at your own risk.
        </p>
        <p>
            The backend of this application is writen in C# using the
            new <a href="https://github.com/aspnet/Home">Asp.net core framework</a>. The frontend
            is <a href="http://getbootstrap.com/getting-started/">Bootstrap</a> driven by
            <a href="http://knockoutjs.com/index.html">Knockout</a> using html templates with
            models written in <a href="https://www.typescriptlang.org/index.html">Typescript</a>.
        </p>
    </div>
</div>

<h3>Who:</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <p>
            My name is Ed Blake, and I am writing this application while unemployed myself.
            At the time of writing (Jun 21, 2016) I am activly looking for my first job as
            a software developer. I have a lot of experience with the
            <a href="https://www.python.org/">Python</a> language, but my current perfered
            language is <a href="https://http://clojure.org/">Clojure</a>. This is my first
            large application in C#.
        </p>
        <p>
            You can read about the development of this application, and other programming topics,
            at my blog <a href="https://kitsu.github.io">Superfluous Comments</a>.
        </p>
    </div>
</div>

<h3>Where:</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <ul>
            <li><a href="https://www.linkedin.com/in/edward-blake-b3601411b">LinkedIn</a></li>
            <li><a href="https://github.com/kitsu">Github</a></li>
            <li><a href="https://stackoverflow.com/users/770443/kitsu-eb">Stackoverflow</a></li>
            <li><a href="https://plus.google.com/118323029386640613972">Google Plus</a></li>
        </ul>
    </div>
</div>
