@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@using JobLogger.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<br />
@if (SignInManager.IsSignedIn(User))
{
    @Html.Partial("_KoTemplates")
    <form id="aspaft" asp-antiforgery="true" class="hidden"></form>
    <div id="AppUserId" class="hidden">
        @{var user = await UserManager.GetUserAsync(User);}
        @user.Id
    </div>
    <div id="AddPanel" class="panel panel-default">
        <div class="panel-heading" role="tab" id="AddHeading">
            <h4 class="panel-title pull-left">
                <a role="button" data-toggle="collapse" href="#AddPanelBody"
                   aria-expanded="false" aria-controls="AddPanelBody"
                   class="btn">
                    &nbsp; Add Log
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div id="AddPanelBody" class="panel-collapse collapse"
             role="tabpanel" aria-labelledby="AddHeading">
            <div style="position: relative">
                <div id="AddAlertInfo" class="temp-notice alert alert-info">
                    <div class="alert alert-info">
                        <h4 id="AlertInfo" class="text-center">Info Alert!</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Activity" aria-controls="Activity" role="tab" data-toggle="tab">Activity Log</a></li>
                    <li role="presentation"><a href="#Contact" aria-controls="Contact" role="tab" data-toggle="tab">Contact Log</a></li>
                </ul>
                <!-- Tabs bodies -->
                <div id="AddLogForms" class="tab-content">
                    <!-- Activity form -->
                    <div role="tabpanel" class="tab-pane active" id="Activity">
                        <form class="form-horizontal" data-bind="submit: actModel.addLog.bind(actModel)">
                            <div data-bind="template: {name: 'EditActTemp',
                                                       data: {actionName: 'Add Log',
                                                              model: actModel}}"></div>
                        </form>
                    </div>
                    <!-- Contact form -->
                    <div role="tabpanel" class="tab-pane" id="Contact">
                        <form class="form-horizontal" data-bind="submit: conModel.addLog.bind(conModel)">
                            <div data-bind="template: {name: 'EditConTemp',
                                                       data: {actionName: 'Add Log',
                                                              model: conModel}}"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="LogList">
        <div data-bind="template: {name: 'FilterBar'}"></div>
        <br />
        <div data-bind="template: {name: logTemplate, foreach: ShownLogs,
                           beforeRemove: function(elem) { $(elem).slideUp() },
                           afterAdd: function(elem) { $(elem).hide().slideDown() } }"></div>
    </div>
}
else
{
    <div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h3>Purpose:</h3>
        <p>This web application is meant to provide a convenient way to store
        Job Search Logs as required by Washington State to recieve unemployment
        benefits. Logs are created using a convenient web form and stored in a
        database. You no longer need to store your logs on one device, or worse,
        maintain paper logs.</p>
        <p>While reasonable efforts are made to maintain user data and make it
        availible at all times, this is a free service with no waranty expressed
        or implied. Use at your own risk.</p>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h3>Usage:</h3>
        <p>First <a asp-controller="Account" asp-action="Register">Register</a>
        an account using either your email and a password or another
        identity provider. Your email will only be used for identification,
        and to notify you of any changes to the service or your account.</p>
        <p>You can also close your account at any time and all your logs and
        user credentials will be deleted.</p>
    </div>
    </div>
}

@section scripts
{
@if (SignInManager.IsSignedIn(User))
{
    <script src="~/scripts/LogModels.js" asp-append-version="true"></script>
    <script src="~/scripts/Filters.js" asp-append-version="true"></script>
    <script src="~/scripts/RadioHandler.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            // Wire up tabs
            $("ul.nav-tabs li a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            // Bind add model to view
            window.addModel = new AdditionModel()
            ko.applyBindings(addModel, $("#AddLogForms")[0]);
            // Bind list model to view
            window.listModel = new ListModel()
            $.getJSON("/LogLists").done(listModel.updateList)
            ko.applyBindings(listModel, $("#LogList")[0]);
        });
    </script>
}
}
